jobs:
  small-matrix:
    name: SMALL (${{ matrix.cfg }})
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        cfg: ["IPQ60XX-SMALL-WIFI-YES", "IPQ60XX-SMALL-WIFI-NO"]

    uses: ./.github/workflows/WRT-CORE.yml
    secrets: inherit
    with:
      WRT_CONFIG:  ${{ matrix.cfg }}
      WRT_THEME:   argon
      WRT_NAME:    OWRT
      WRT_SSID:    OWRT
      WRT_WORD:    12345678
      WRT_IP:      192.168.1.1
      WRT_PW:      æ— 
      WRT_REPO:    https://github.com/VIKINGYFY/immortalwrt.git
      WRT_BRANCH:  main
      WRT_SOURCE:  VIKINGYFY/immortalwrt
      WRT_PACKAGE: ""
      WRT_TEST:    "false"
